* {
    margin: 0;
    padding:0;

}

body {
    position: relative;
    font-family: sans-serif;

}
section {
    display: flex;
    justify-content: center;

}
button:hover {
    cursor: pointer;
}

.wrapper {
    width: 76%;
}

a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

#top-section {

    width: 100%;
    box-shadow: 0px 1px 25px -20px #111;
    background-color: #fff;
    position: fixed;
    z-index: 1;

}

.offerTop {
    padding-top: 100px
}

#top-section #wrapper {
    display: flex;
}


#top-section nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0px 100px;
    margin-left: 40px;


}

#top-section .left {
    display: flex;
    align-items: center;
    float: left;
    gap: 50px;
    width: fit-content;
}

.location .left h1 {
    height: 100%;
}

.location .left h1 a {
    height: 100%;
    display: flex;
    align-items: center;
}

#top-section .left .location {
    display: flex;
    align-items: center;

}

#top-section .left .location p {
    font-size: 13px;
    margin-right: 4px;
    border-bottom: 2px solid #424242;
    color: #424242;
    font-weight: 600;
}

#top-section .left .location span {
    font-size: 12px;
    border-bottom: none;
    color: #7a7a7a;
}

#top-section .left .location i {
    margin-left: 4px;
    color: #fc8019;
}

#top-section .left img {
    height: 50px;
    padding-top: 8px;
}

#top-section .left button {
    height: 50px;
}

#top-section .right {
    display: flex;
    /* height: 100%; */
    width: 700px;
    float: right;
    padding: 25px;

}

#top-section .right ul {
    display: flex;
    gap: 30px;
    align-items: center;
    /* margin:0 500px 0 0; */
}

#top-section .right li {
    list-style: none;
    display: flex;
    margin-right: 20px;
    height: min-content;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    color: #424242;
}

#top-section .right li img {
    width: 18px;
}

#top-section .right li:hover,
#top-section .right li a:hover {
    color: #fc8019;
}

#top-section .right #offer-new {
    position: relative;
}

#top-section .right #offer-new span {
    position: absolute;
    top: 33%;
    font-size: 10px;
    color: #fc8019;

}

#top-section .right li a {
    color: #424242;
    display: flex;
    align-items: center;
    height: 100%;
}

#top-section .right li p {
    padding-left: 10px;
}

#top-section .right li .active {
    color: orange;
}

#top-section .right input {
    height: 50px;
}

#top-section .right .user {
    height: 60px;
    width: 60px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
    border-radius: 50%;
}

#top-section .right .user i {
    font-size: 40px;
}

#top-section #blank {
    position: fixed;
    left: 0;
    display: none;
    /* width: 100%; */
}

#top-section #blank:hover {}

#blank #left-blank {
    width: 62.5vw;
    height: 100vh;
    background-color: #0000009e;
    transition: width .5s;
}

/* #blank #left-blank:hover{
    width: 62.5%;
} */


#blank .signin {
    /* display: none; */
    padding: 30px 0px 0px 50px;
    width: 37.5vw;
    height: 100vh;
    background-color: #ffffff;
    /* float: right; */

}

#blank .content {
    width: 360px;
}

#blank .content button {
    padding: 0;
    margin: 0;
    font-size: 0;
    background-color: transparent;
    border: none;

}

#blank .content button i {
    font-size: 30px;
    padding: 0;
    margin: 0;
}

#blank .content .head {
    /* border-bottom: 6px solid pink; */
    /* width: 10; */
    margin-bottom: 42px;
    position: relative;
    display: block;
}

#blank .content .head h5 {
    font-size: 30px;
    line-height: 65px;
    font-weight: 500;

}

#blank .content .head p {
    font-size: 12px;
    /* margin-bottom: 12px; */
}

#blank .content .head img {
    position: absolute;
    right: 0;
    top: 0;
    width: 105px;
}

#blank .content .head p:after {
    content: '';
    margin-top: 16px;
    height: 2px;
    width: 8%;
    background-color: #000000;
    display: block;
    /* transition */
}

#blank .content .head p span {
    color: #fc8019;
    cursor: pointer;
}

#blank .content .inpField {
    width: 100%;
}

#blank .content .inpField input {
    width: 94%;
    height: 67px;
    -moz-appearance: textfield;
    padding-left: 15px;
    font-size: 16px;
    border: 1px solid #c2bcbc;
    outline: none;
}

#blank .content .inpField input[type=submit] {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: #fc8019;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

#blank .content .inpField #referal {
    text-decoration: none;
    color: #5d8ed5;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 600;
}


#blank .content .inpField button {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: #fc8019;
    color: #fff;
    font-size: 14px;
    font-weight: 600;

}

#blank .content .inpField p {
    padding-top: 5px;
    font-size: 10.5px;
}

/* ---------------------------- blank page left content search option ------------- */
#blank .location {
    width: 100vw;
    height: 100vh;
    float: right;
    display: flex;
}


#blank .location .left {
    width: 50vw;
    height: 100%;
    background-color: #000000;
}


#blank .location .right {
    width: 100vw;
    height: 100vh;
    background-color: #424242;
    transition: width 1s;
}

#blank .location .right:hover {
    width: 50vw;

}



#blank .location .left:hover {
    width: 50vw;
}





#offers {
    padding-top: 130px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 20px 0px;
}

#offers .head ul {
    display: flex;
    padding: 10px 0px;
}

#offers .head ul li {
    list-style: none;
}

.head h4 {
    font-size: 20px;
    font-weight: 800;
    white-space: nowrap;

}


#offers .head .right-btn {}

#offers .offer-ul {
    width: 90%;
    display: flex;
    /* flex-wrap:wrap; */
    overflow: scroll;
    /* height: 200px; */
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

#offers .offer-ul li {
    /* width: 500px; */
    display: flex;
    height: min-content;
    list-style: none;
    transition: 0.2s;
}

#offers .offer-ul li:hover {
    transform: scale(0.93);
}

.head button {
    border-radius: 40px;
    border: none;
    background-color: #e1e1e1;
    margin-left: 10px;
}

.head button:hover {
    background-color: rgb(158, 158, 158);
}

#offers .offer-ul li div {
    width: 415px;
}

#offers ul li img {
    width: 100%;
}

#offers .offer-ul {
    column-gap: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
}

#offers .offer-ul li {
    list-style: none
}


#food-items {}

#food-items .head {
    display: flex;
    justify-content: space-between;
}

#food-items .head h4 {}

#food-items .head ul {
    display: flex;
    padding: 0;
}

#food-items .head ul li {
    list-style: none;
    display: flex;
    gap: 10px;
}

#food-items .head ul li button {}

#food-items .image {
    display: flex;
    overflow: scroll;
    /* width: max-content; */
    padding: 20px 0;
    gap: 18px;
    scrollbar-width: none;

}

#food-items .image li {
    list-style: none;
    /* width: 100px; */
}

#food-items .image li:hover {
    transform: scale(1.08);
}

#food-items .image li div {
    width: 155px;
}

#food-items .image li img {
    width: 100%;
}

hr {
    margin: 40px 0;
    border: 1px solid rgb(217, 217, 217);
}

#top-shops {}

#top-shops .head {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;
}

#top-shops .head h4 {}

#top-shops .head ul {
    display: flex;
}

#top-shops .head ul li {
    list-style: none;
}

#top-shops .head ul li button {}

#top-shops .head ul li button i {}

#top-shops .top-shop {
    /* overflow: scroll; */

}

#top-shops .top-shop ul {
    display: flex;
    overflow: scroll;
    padding: 0;
    gap: 36px;
    padding-left: 10px;
    scrollbar-width: none;

}

#top-shops .top-shop ul::-webkit-scrollbar {
    display: none;
}

#top-shops .top-shop ul li {
    list-style: none;
    padding-top: 20px;
    transition: 0.2s;
}

#top-shops .top-shop ul li:hover {
    transform: scale(.94);
}

#top-shops .top-shop ul li .topShopImg {
    width: 270px;
    height: 170px;
    /* display: flex; */
    /* justify-content: center; */
    overflow: hidden;
    border-radius: 20px;

}

#top-shops .top-shop ul li .topShopImgDet {
    padding: 10px;

}

#top-shops .top-shop ul li .topShopImgDet .rating {
    display: flex;

}

#top-shops .top-shop .topShopImg img {
    width: 110%;
    /* height: 100%; */
    border-radius: 20px;
    display: block;

}

#top-shops .top-shop ul li a {
    text-decoration: none;
    color: black;
}

#top-shops .top-shop ul li a h6 {
    font-size: 17px;
}

#top-shops .top-shop ul li a span {}

#top-shops .top-shop ul li a p {
    color: #848484;
}

#main-content {}

#main-content .head {
    padding: 30px 0px;
}

#main-content .head h4 {}

#main-content .sort-items {}

#main-content .sort-items ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    column-gap: 10px;

}

#main-content .sort-items ul li {
    list-style: none;
    row-gap: 50px;
    ;
}

#main-content .sort-items ul li button {
    background-color: #fff;
    border: 1px solid #808080;
    border-radius: 14px;
    padding: 7px;

    display: flex;
    align-items: center
}

#main-content .sort-items ul li button i {
    font-size: 15px;

}

#main-content .foods {
    padding-top: 28px;
}

#main-content .foods ul {
    display: flex;
    /* gap: 20px; */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    row-gap: 20px;
}

#main-content .foods ul li {
    width: 24%;
    transition: 0.2s;
    list-style: none;
}

#main-content .foods ul li:hover {
    transform: scale(.93);
}


#main-content .foods ul li a {
    text-decoration: none;
    color: #000000;
}

#main-content .foods a div {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 14px;
}

#main-content .foods .food-details {
    padding-left: 20px;
    width: 90%;
    height: min-content;
}

#main-content .foods a .food-img img {
    width: 100%;
    /* filter: hue-rotate(90deg); */

}

#main-content .foods ul li a h6 {
    font-size: 18px;
    margin-top: 10px;
}

#main-content .foods ul li a .food-details span {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#main-content .foods ul li a .food-details p {
    color: #848484;
    font-size: 14px;
    line-height: 20px;
}

#main-content .foods ul li a .food-details img,
.topShopImgDet img {
    height: 20px;
    margin-right: 5px;
    filter: hue-rotate(330deg);

}


#bottom-part {
    padding: 40px 0;
}

#bottom-part .best-places {
    padding: 40px 0;

}

#bottom-part .culslnes {
    padding: 40px 0;

}

#bottom-part .every-shops {
    padding: 40px 0;
}

#bottom-part h6 {
    font-size: 20px;
    line-height: 60px;
}

#bottom-part ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;

}

#bottom-part ul li {
    height: 50px;
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border: 1px solid grey;
    border-radius: 10px;
}

#bottom-part ul li a {
    text-decoration: none;
    color: #000000;
    white-space: nowrap;
}

#bottom-part .every-shops ul li {
    width: 48%;
}

#apps {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ebebeb;
    padding: 50px 0;

}

#apps h5 {
    font-size: 25px;

}

#apps a {
    width: 200px;
    height: 60px;
}

#apps a img {
    width: 100%;
    height: 100%;
}

footer {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    column-gap: 200px;
}

footer li a {
    font-size: 42px;
}

footer .logo {}

footer .logo img {
    width: 25px;
    filter: saturate(0);
    /* filter: contrast(100%); */
    margin-right: 10px;
}

footer .logo h5 {
    font-size: 20px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

footer .logo p {}


footer .company {}


footer .deliver {}

footer .deliver h6 {}

footer .deliver ul {}

footer .deliver ul li {}

footer .deliver ul button {
    background-color: #000000;
    color: #fff;
    border: 1px solid white;
    /* padding: 3px; */
    border-radius: 6px;
    display: flex;
    align-items: center;
}

footer .deliver ul button i {
    margin: 4px 6px 4px 15px;
    font-size: 20px;
}

footer h6 {
    font-size: 17px;
    padding-bottom: 40px;
}

footer ul {
    padding: 0;

}

footer ul li {
    list-style: none;
    padding-bottom: 20px;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transform: rotate(180deg);
}

#other_cities {
    padding: 10px 200px;
    display: none;
    box-sizing: border-box;
    color: white;
    background-color: #000000;
    border-top: 1px solid #ffffff37;
}

#other_cities h6 {
    font-size: 18px;
    margin: 10px 0 30px 0;
}

#other_cities div {
    width: 100%;
    /* background-color: #b1b1b1; */
    padding-bottom: 100px;
}

#other_cities div ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 23px;

}

#other_cities div ul li {
    width: 24%;
    list-style: none;
}

#other_cities div ul li p {
    color: #808080;
    font-size: 14px;
}



/* ---------------------------  cart html ------------------------ */

#main-center {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-center .empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
}

#main-center .empty div {
    width: 300px;
    padding-bottom: 30px;

}

#main-center .empty div img {
    width: 100%;
}

#main-center .empty .p1 {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 15px;
}

#main-center .empty .p2 {
    font-size: 12px;

}

.cart-button1 button {
    padding: 12px 25px;
    border-radius: 0px;
    border: none;
    background-color: #fc8019;
    color: #fff;
    font-weight: 600;
    font-stretch: expanded;
    font-size: 15px;
    margin-top: 34px;
    margin-bottom: 5px;
}

#cart-bottom {
    width: 100%;
    background-color: #e1e0e0;
    padding-top: 30px;
}

#cart-bottom .wrapper {
    width: 65%;
    gap: 40px;
    display: flex;
    /* height: 79.5vh; */
}

#cart-bottom .left {
    /* border-left: 2px dashed red; */
    padding-left: 7px;
}

#cart-bottom .left ul {}

#cart-bottom .left ul li {
    margin-bottom: 20px;
    padding: 33px 0 33px 40px;
    list-style: none;
    background-color: #fff;
    width: 800px;
}

#cart-bottom .left ul li .p1 {
    font-size: 17px;
    font-weight: 600;
}

#cart-bottom .left ul li .p2 {
    font-size: 14px;
    line-height: 25px;

}

#cart-bottom .left ul li div {
    gap: 50px;
}

#cart-bottom .left ul li div button {
    padding: 9px 40px;
    font-size: 12px;
    margin-top: 35px;
    border: 1px solid #60b246;
    color: #60b246;
    background-color: #fff;
    margin-bottom: 5px;


}

#cart-bottom .left ul li div .active {
    color: #fff;
    background-color: #60b246;
}

#cart-bottom .left ul li div button span {
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
}

#cart-bottom .right {
    float: right;
}

#cart-bottom .right div {
    width: 300px;
}

#cart-bottom .right div img {
    width: 100%;
    margin-bottom: 20px;
    filter: grayscale(100%);
}

#cart-bottom .right .p1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
    color: #747474;
}

#cart-bottom .right .p2 {
    font-size: 15px;
    line-height: 22px;
    color: #808080;
}

#cart-bottom .right img {}


#top-section .helpLeft {
    padding-left: 150px;
}

#helpSupport {
    padding-top: 100px;
    display: block;
    padding: 100px 390px 0;
    background-color: #92b0dd;
}

#helpSupport .head {
    width: 60%;
    display: block;
    justify-content: left;
    font-size: 25px;
}

#helpSupport .content {
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    padding: 45px 45px 45px 45px;
    background-color: #ffffff;
    column-gap: 10px;
    height: auto;
}


#helpSupport .content .leftHead {
    width: 30%;
    height: inherit;
    background-color: #c7d9ea;
    padding: 30px 0px 0px 30px;
}
#helpSupport .content .leftHead .leftBtns{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}

#helpSupport .content .leftHead button{
    border: none;
    border-bottom: 1px solid black;
    padding: 25px 0 25px 40px;
    background-color: #ffffff;
    font-size: 15px;
    color: #4f4949;
    text-align: left;
    font-weight: 600;
}
#helpSupport .content .leftHead button:hover{
    color: black;
    font-size: 16px;
}
#helpSupport #faqsBtn,#helpSupport #legalBtn{
    background-color: #eaeaea;
}

#helpSupport .content .rightContent {
    width: 65%;
    min-height: 800px;
    background-color: #ffffff;
}

#helpSupport .content .rightContent h6{
    font-size:20px;
}

#helpSupport .content .rightContent ul{
    font-size:20px;
}
#helpSupport .content .rightContent ul li{
    list-style: none;
    border-bottom: 1px solid rgb(123, 120, 120);
}

#helpSupport .content .rightContent ul li .contentHead{
    list-style: none;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:start;
}
#helpSupport .content .rightContent ul li .contentHead i{
    color: #60b246;
    /* rotate: 180deg; */
    transition: .5s;
}
#helpSupport .content .rightContent ul li .active i{
    rotate: 180deg;
}

#helpSupport .content .rightContent ul li .contentHead p:hover{
    color: orange;
    cursor: pointer;
}

#helpSupport .content .rightContent ul li .contentDetail{
    display: none;
    flex-direction: column;
    font-size: 14px;
    color: #5b5757;
}
#helpSupport .content .rightContent ul li .contentDetail p{
    color: #000000;
    padding:0px 10px 10px 12px;
    font-size: 16px;
}

#helpSupport .content .rightContent ul li .contentDetail .btndown{
    color:#a8a8a8;
    padding: 20px 0;
}

#helpSupport .content .rightContent ul li .contentDetail button{
    white-space:nowrap;
    padding: 8px 10px;
    border: 2px solid rgba(255, 166, 0, 0.661);
    color: rgb(255, 166, 0);
    font-weight: 600;
    background-color: #ffffff;
    text-transform:uppercase;
    width: min-content;
}
#helpSupport .content .rightContent ul li .contentDetail ul{
    padding-left: 30px;

}
#helpSupport .content .rightContent ul li .contentDetail ul li{
    border:none;
    list-style:circle;
}

#helpSupport .content .rightContent ul li .contentDetail ul li .btndown{

}


#helpSupport .content .rightContent .partnerOnboarding p{
    /* display: none; */
}
#helpSupport .content .rightContent .legal{
    display: none;
}
#helpSupport .content .rightContent .faqs{
    display: none;
}

#partnerBtn{
    background-color: #bf4545;
}